/*  your css code here. If applicable */
*{
	box-sizing:border-box;
}

table {
    border-collapse: separate;
    border-spacing:  0.2em;
}
tr th, tr td{
	border: 1px solid #ccc;
	border-radius:5px;
	min-width:45%;
	padding:0.5rem;
	
}
tr th{
	font-size:1.8rem;
	font-weight:bold;
}
tr th{background-color:#ffffff;}
tr:nth-child(odd){
	background-color:#f2f2f2;
}
tr:nth-child(even){
	background-color:#ffffff;
}
tr td{
	font-size:1.8rem;
	font-weight:500;
}